<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="CodeViewer" value="C:\Users\Tim\AppData\Local\Programs\Microsoft VS Code\Code.exe"/>
    </appSettings>
    <connectionStrings>
    <add  name="Cyberscope123"  connectionString="
    ;Initial Catalog=Cyberscope123
    ;Data Source=DESKTOP-546VFJS\SQLEXPRESS
    ;Integrated Security=SSPI; " />
  </connectionStrings>
</configuration>